[data-theme="light"] {
  --color-primary: #FF7F04;
  --color-secondary: #FFB76B;
  --color-text: #0D1117;
  --color-text-offset: #161B22;
  --color-background: theme("colors.gray.50");
  --color-background-offset: theme("colors.gray.100");
  --color-border: #0D1117;
}

[data-theme="dark"] {
  --color-primary: #fbefbe;
  --color-secondary: #FF7F04;
  --color-text: theme("colors.gray.50");
  --color-text-offset: theme("colors.gray.400");
  --color-background: #0D1117;
  --color-background-offset: #161B22;
  --color-border: theme("colors.gray.50" / 10%);
}