---
import { Image } from "astro:assets";

import codeImage from "~/assets/code.svg";
import MeetupCorner from "./meetup-corner.astro";

const widths = [250, 400];
const sizes = "(min-width: 640px) 30vw, 45vw";
---

<section class="relative h-full bg-[url('/background.jpg')] bg-cover bg-center">
  <MeetupCorner />
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <div
        class="text-center font-extrabold tracking-tighter text-white text-6xl"
      >
        frontend.OPO
        <span class="font-semibold">
          <br /> the Porto's hub for
          <br /> frontend developers
        </span>
      </div>
    </h2>
    <div
      id="astronaut"
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start sm:p-16"
    >
      <Image
        class="h-full w-full object-cover"
        src={codeImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating astronaut in a space suit"
      />
    </div>
  </div>
</section>

<style>
  section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(
      0,
      0,
      0,
      0.75
    ); /* Black background with 50% opacity */
    pointer-events: none;
  }
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }
  }
</style>
